body {
    background-color: #2A2E30;
    height: 100%;
    margin: 0px;
}

#camera-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pic-canvas {
    margin: 10px;
    width: 98%;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    display: none;
    z-index: 2;
    position: absolute;
    top: 90px;
    left: 0;
    border: 2px solid black;
}

#to-gallery {
    background-color: #2A2E30;
    color: white;
    width: 100px;
    height: 60px;
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    justify-content: flex-end;
    align-items: center;
    display: flex;
}

#take-picture {
    background-color: #2A2E30;
    color: white;
    width: 100%;
    height: 60px;
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

#notis {
    display: none;
    color: white;
    border: 2px solid black;
    margin-top: 5px;
    padding: 5px;
    border-radius: 2px;
}

#camera {
    margin: 20px;
    width: 100%;
    height: 500px;

    border-radius: 20px;

}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-right: 10px;
}

#filler {
    width: 100px;
}
#title {
    color: white;
    justify-content: center;
    align-items: center;
    
    display: flex;
}


#gallery-wrapper {
    margin-top: 1.125rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, auto);
    grid-gap: 1rem;
    width: 100%;
  
}

#gallery-wrapper h1 {
    color: pink;
}

#gallery {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;

}

#gallery img {
    background-color: white;
    margin: 10px;
    border-radius: 10px;
}

#wrapp-button {
    position: relative;
}

#remove-button {
    background-color: red;
    z-index: 2;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

#back-video {
    background-color: #2A2E30;
    color: white;
    width: 100px;
    height: 60px;
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    #camera {
        margin: 20px;
        width: 98%;
        height: 100%;
    }
    #pic-canvas {
        height: 285px;
        width: 98%;
    }
    #gallery img {
        width: 100px;
        height: 100px;
    }
}