body {
    background-color: #2A2E30;
    height: 100%;
    margin: 0px;
}

#camera-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pic-canvas {
    margin-bottom: 10px;
    width: 100%;
    height: 498px;
    background-color: white;
    border-radius: 20px;
    display: none;
    z-index: 2;
    position: absolute;
    top: 100px;
    left: 0;
    border: 2px solid black;
}

#to-gallery {
    background-color: #2A2E30;
    color: white;
    width: 100px;
    height: 60px;
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    justify-content: flex-end;
    align-items: center;
    display: flex;
}

#take-picture {
    background-color: #2A2E30;
    color: white;
    width: 100%;
    height: 60px;
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

#notis {
    display: none;
    color: white;
    border: 2px solid black;
    margin-top: 5px;
    padding: 5px;
    border-radius: 2px;
}

#camera {
    margin: 20px;
    width: 100%;
    height: 500px;

    border-radius: 20px;

}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-right: 10px;
}

#filler {
    width: 100px;
}
#title {
    color: white;
    justify-content: center;
    align-items: center;
    
    display: flex;
}

#to-gallery {
    
}




#gallery-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#gallery-wrapper h1 {
    color: pink;
}

#gallery {
    flex-direction: column;
    column-count: 2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

#gallery img {
    background-color: white;
    margin: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    
}

#remove-button {
    background-color: red;
    z-index: 2;
    display: flex;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    justify-content: flex-end;
    align-items: flex-end;
    left: 130px;
    bottom: 150px;
    cursor: pointer;
}

#back-video {
    background-color: #2A2E30;
    color: white;
    width: 100px;
    height: 60px;
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    #camera {
        margin: 20px;
        width: 98%;
        height: 100%;
    }
    #pic-canvas {
        height: 285px;
        width: 98%;
    }
}