body {
    background-color: grey;
}

#camera-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gallery-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#gallery-wrapper h3 {
    color: pink;
}